# Pandas Tutorials

## Install libraries

In [ ]:
pip install pandas

In [ ]:
pip install numpy

Import libraries

In [5]:
import pandas as pd
import numpy as np

In [6]:
# object creation
s = pd.Series([1,3,5,7,8,9])
s

0    1
1    3
2    5
3    7
4    8
5    9
dtype: int64

In [8]:
# object creation
t = pd.Series([1,3,np.nan,5,7,8,9])
t

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [29]:
# dates per day
dates = pd.date_range("20230101", periods=20)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20'],
              dtype='datetime64[ns]', freq='D')

In [52]:
df = pd.DataFrame(np.random.randn(20,4), index =dates, columns= list("ABCD"))
df

                   A         B         C         D
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-10  0.043323 -2.462685  2.046029 -0.278108
2023-01-11  0.923373 -0.596983 -0.032450 -0.230864
2023-01-12  0.702083 -0.705203 -0.199527  1.193155
2023-01-13  0.190716 -0.029701 -0.474885 -0.639056
2023-01-14 -0.769573  0.609692 -0.828558 -0.921701
2023-01-15 -1.777406  0.735288  0.572365 -0.965627
2023-01-16  0.250739 -0.524081  2.424349  1.184694
2023-01-17  0.140084 -0.479425 -1.068868 -1.298676
2023-01-18  0.610089 -0.037072 -1.289696 -1.247698
2023-01-19  0.424443  0.600566 -0.413613  1.141653
2023-01-20 -1.240178 -0.170542  1.145650  0.637043

In [19]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20230101"),
        "C": pd.Series(1, index =list(range(4)), dtype ="float32"),
        "D": np.array([3]*4, dtype ="int32"),
        "E": pd.Categorical(["test","train","test","train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2023-01-01  1.0  3   test  foo
1  1.0 2023-01-01  1.0  3  train  foo
2  1.0 2023-01-01  1.0  3   test  foo
3  1.0 2023-01-01  1.0  3  train  foo

In [21]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20230101"),
        "C": pd.Series(1, index =list(range(4)), dtype ="float32"),
        "D": np.array([3]*4, dtype ="int32"),
        "E": pd.Categorical(["girl","women","girl","women"]),
        "F": "females",
    }
)
df2

     A          B    C  D      E        F
0  1.0 2023-01-01  1.0  3   girl  females
1  1.0 2023-01-01  1.0  3  women  females
2  1.0 2023-01-01  1.0  3   girl  females
3  1.0 2023-01-01  1.0  3  women  females

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [25]:
# head means top columns informatiaon
df.head(2)

                   B         A         B         A
2023-01-01 -0.007585 -2.101851 -0.403640 -0.545252
2023-01-02 -1.760660 -0.165399 -0.587189 -0.423206

In [27]:
# tail means last wali information
df.tail(2)

                   B         A         B         A
2023-01-05  0.481866  0.969970 -0.253649  0.505211
2023-01-06  0.496779  0.336913 -1.992740 -0.053405

In [31]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [33]:
df.to_numpy()

array([[-0.22176421,  0.43437955, -0.63391552,  0.41020953],
       [ 1.75020797, -0.0731517 , -0.83078921, -0.26648588],
       [-2.06248565,  0.64741662,  0.65406242, -0.90317997],
       [ 0.24930027, -0.08507967,  0.60551153, -0.21347408],
       [ 1.23402136,  1.06436527,  1.26259371, -0.70725184],
       [ 0.67985186,  0.48151708,  1.9209364 ,  0.03789381],
       [-1.01755852,  0.7886034 ,  0.1510089 , -0.11890254],
       [-1.20465476,  1.08320382, -0.20187727,  0.38393128],
       [-1.71212066, -0.92425907, -0.57406414, -0.39672714],
       [-0.43851676,  0.47231733, -0.40914925,  0.17268978],
       [-1.04512094, -0.55266019,  1.21478565,  0.96237635],
       [-1.40098276,  0.44419278,  0.50700022,  1.18673464],
       [ 0.85614817,  0.70381624,  0.04851966,  0.41338456],
       [ 1.06625129, -1.19722906,  0.80838134, -0.04680966],
       [-0.71627515,  0.29699703, -0.02975348,  0.89333605],
       [-0.71257467,  0.72681291, -0.03151034, -0.0194548 ],
       [ 0.13343179, -0.48105392, -0.78148502, -0.18764579],
       [-0.61692166, -1.84085441, -1.74563258,  2.2591259 ],
       [ 2.1834382 ,  0.43178997,  0.86934484,  0.4591111 ],
       [ 1.32160461, -0.42281208,  0.60764503, -1.38327766]])

In [34]:
df2.to_numpy()

array([[1.0, Timestamp('2023-01-01 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2023-01-01 00:00:00'), 1.0, 3, 'women',
        'females'],
       [1.0, Timestamp('2023-01-01 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2023-01-01 00:00:00'), 1.0, 3, 'women',
        'females']], dtype=object)

In [35]:
df.describe()

               B          A          B          A
count  20.000000  20.000000  20.000000  20.000000
mean   -0.083736   0.099916   0.170581   0.146779
std     1.208340   0.784432   0.868229   0.797668
min    -2.062486  -1.840854  -1.745633  -1.383278
25%    -1.024449  -0.437373  -0.450378  -0.226727
50%    -0.330140   0.433085   0.099764   0.009220
75%     0.908674   0.661517   0.692642   0.424816
max     2.183438   1.083204   1.920936   2.259126

In [36]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [37]:
df.transpose()

,2023-01-01,2023-01-02,2023-01-03,2023-01-04,2023-01-05,2023-01-06,2023-01-07,2023-01-08,2023-01-09,2023-01-10,2023-01-11,2023-01-12,2023-01-13,2023-01-14,2023-01-15,2023-01-16,2023-01-17,2023-01-18,2023-01-19,2023-01-20
B,-0.221764,1.750208,-2.062486,0.249300,1.234021,0.679852,-1.017559,-1.204655,-1.712121,-0.438517,-1.045121,-1.400983,0.856148,1.066251,-0.716275,-0.712575,0.133432,-0.616922,2.183438,1.321605
A,0.434380,-0.073152,0.647417,-0.085080,1.064365,0.481517,0.788603,1.083204,-0.924259,0.472317,-0.552660,0.444193,0.703816,-1.197229,0.296997,0.726813,-0.481054,-1.840854,0.431790,-0.422812
B,-0.633916,-0.830789,0.654062,0.605512,1.262594,1.920936,0.151009,-0.201877,-0.574064,-0.409149,1.214786,0.507000,0.048520,0.808381,-0.029753,-0.031510,-0.781485,-1.745633,0.869345,0.607645
A,0.410210,-0.266486,-0.903180,-0.213474,-0.707252,0.037894,-0.118903,0.383931,-0.396727,0.172690,0.962376,1.186735,0.413385,-0.046810,0.893336,-0.019455,-0.187646,2.259126,0.459111,-1.383278

In [38]:
df2.transpose

<bound method DataFrame.transpose of      A          B    C  D      E        F
0  1.0 2023-01-01  1.0  3   girl  females
1  1.0 2023-01-01  1.0  3  women  females
2  1.0 2023-01-01  1.0  3   girl  females
3  1.0 2023-01-01  1.0  3  women  females>

In [42]:
df.sort_index(axis =1, ascending=False)

                   B         B         A         A
2023-01-01 -0.221764 -0.633916  0.434380  0.410210
2023-01-02  1.750208 -0.830789 -0.073152 -0.266486
2023-01-03 -2.062486  0.654062  0.647417 -0.903180
2023-01-04  0.249300  0.605512 -0.085080 -0.213474
2023-01-05  1.234021  1.262594  1.064365 -0.707252
2023-01-06  0.679852  1.920936  0.481517  0.037894
2023-01-07 -1.017559  0.151009  0.788603 -0.118903
2023-01-08 -1.204655 -0.201877  1.083204  0.383931
2023-01-09 -1.712121 -0.574064 -0.924259 -0.396727
2023-01-10 -0.438517 -0.409149  0.472317  0.172690
2023-01-11 -1.045121  1.214786 -0.552660  0.962376
2023-01-12 -1.400983  0.507000  0.444193  1.186735
2023-01-13  0.856148  0.048520  0.703816  0.413385
2023-01-14  1.066251  0.808381 -1.197229 -0.046810
2023-01-15 -0.716275 -0.029753  0.296997  0.893336
2023-01-16 -0.712575 -0.031510  0.726813 -0.019455
2023-01-17  0.133432 -0.781485 -0.481054 -0.187646
2023-01-18 -0.616922 -1.745633 -1.840854  2.259126
2023-01-19  2.183438  0.869345  0.431790  0.459111
2023-01-20  1.321605  0.607645 -0.422812 -1.383278

In [41]:
df.sort_index(axis=1, ascending=True)

                   A         A         B         B
2023-01-01  0.434380  0.410210 -0.221764 -0.633916
2023-01-02 -0.073152 -0.266486  1.750208 -0.830789
2023-01-03  0.647417 -0.903180 -2.062486  0.654062
2023-01-04 -0.085080 -0.213474  0.249300  0.605512
2023-01-05  1.064365 -0.707252  1.234021  1.262594
2023-01-06  0.481517  0.037894  0.679852  1.920936
2023-01-07  0.788603 -0.118903 -1.017559  0.151009
2023-01-08  1.083204  0.383931 -1.204655 -0.201877
2023-01-09 -0.924259 -0.396727 -1.712121 -0.574064
2023-01-10  0.472317  0.172690 -0.438517 -0.409149
2023-01-11 -0.552660  0.962376 -1.045121  1.214786
2023-01-12  0.444193  1.186735 -1.400983  0.507000
2023-01-13  0.703816  0.413385  0.856148  0.048520
2023-01-14 -1.197229 -0.046810  1.066251  0.808381
2023-01-15  0.296997  0.893336 -0.716275 -0.029753
2023-01-16  0.726813 -0.019455 -0.712575 -0.031510
2023-01-17 -0.481054 -0.187646  0.133432 -0.781485
2023-01-18 -1.840854  2.259126 -0.616922 -1.745633
2023-01-19  0.431790  0.459111  2.183438  0.869345
2023-01-20 -0.422812 -1.383278  1.321605  0.607645

In [53]:
df.sort_values(by = "B", ascending = True)

                   A         B         C         D
2023-01-10  0.043323 -2.462685  2.046029 -0.278108
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-12  0.702083 -0.705203 -0.199527  1.193155
2023-01-11  0.923373 -0.596983 -0.032450 -0.230864
2023-01-16  0.250739 -0.524081  2.424349  1.184694
2023-01-17  0.140084 -0.479425 -1.068868 -1.298676
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-20 -1.240178 -0.170542  1.145650  0.637043
2023-01-18  0.610089 -0.037072 -1.289696 -1.247698
2023-01-13  0.190716 -0.029701 -0.474885 -0.639056
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-19  0.424443  0.600566 -0.413613  1.141653
2023-01-14 -0.769573  0.609692 -0.828558 -0.921701
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-15 -1.777406  0.735288  0.572365 -0.965627
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-06  0.387915  1.996464  0.990433 -0.122450

In [54]:
df.sort_values(by="B", ascending=False)

                   A         B         C         D
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-15 -1.777406  0.735288  0.572365 -0.965627
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-14 -0.769573  0.609692 -0.828558 -0.921701
2023-01-19  0.424443  0.600566 -0.413613  1.141653
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-13  0.190716 -0.029701 -0.474885 -0.639056
2023-01-18  0.610089 -0.037072 -1.289696 -1.247698
2023-01-20 -1.240178 -0.170542  1.145650  0.637043
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-17  0.140084 -0.479425 -1.068868 -1.298676
2023-01-16  0.250739 -0.524081  2.424349  1.184694
2023-01-11  0.923373 -0.596983 -0.032450 -0.230864
2023-01-12  0.702083 -0.705203 -0.199527  1.193155
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-10  0.043323 -2.462685  2.046029 -0.278108

In [55]:
df["A"]

2023-01-01   -1.717280
2023-01-02    0.433258
2023-01-03    0.288758
2023-01-04    0.014780
2023-01-05    0.144574
2023-01-06    0.387915
2023-01-07    0.673246
2023-01-08    0.595742
2023-01-09    0.761121
2023-01-10    0.043323
2023-01-11    0.923373
2023-01-12    0.702083
2023-01-13    0.190716
2023-01-14   -0.769573
2023-01-15   -1.777406
2023-01-16    0.250739
2023-01-17    0.140084
2023-01-18    0.610089
2023-01-19    0.424443
2023-01-20   -1.240178
Freq: D, Name: A, dtype: float64

In [56]:
df["C"]

2023-01-01   -1.465816
2023-01-02   -1.137476
2023-01-03    1.031405
2023-01-04    1.887436
2023-01-05   -1.601547
2023-01-06    0.990433
2023-01-07    0.437041
2023-01-08   -1.349574
2023-01-09    0.546483
2023-01-10    2.046029
2023-01-11   -0.032450
2023-01-12   -0.199527
2023-01-13   -0.474885
2023-01-14   -0.828558
2023-01-15    0.572365
2023-01-16    2.424349
2023-01-17   -1.068868
2023-01-18   -1.289696
2023-01-19   -0.413613
2023-01-20    1.145650
Freq: D, Name: C, dtype: float64

In [57]:
df["D"]

2023-01-01    0.752935
2023-01-02    0.894932
2023-01-03    0.686801
2023-01-04    0.115306
2023-01-05   -0.077505
2023-01-06   -0.122450
2023-01-07    0.148386
2023-01-08    0.349012
2023-01-09    0.203048
2023-01-10   -0.278108
2023-01-11   -0.230864
2023-01-12    1.193155
2023-01-13   -0.639056
2023-01-14   -0.921701
2023-01-15   -0.965627
2023-01-16    1.184694
2023-01-17   -1.298676
2023-01-18   -1.247698
2023-01-19    1.141653
2023-01-20    0.637043
Freq: D, Name: D, dtype: float64

In [58]:
df["B"]

2023-01-01    0.383333
2023-01-02    0.121100
2023-01-03   -1.142665
2023-01-04    0.734382
2023-01-05   -0.371441
2023-01-06    1.996464
2023-01-07    0.918510
2023-01-08    0.459953
2023-01-09    0.433012
2023-01-10   -2.462685
2023-01-11   -0.596983
2023-01-12   -0.705203
2023-01-13   -0.029701
2023-01-14    0.609692
2023-01-15    0.735288
2023-01-16   -0.524081
2023-01-17   -0.479425
2023-01-18   -0.037072
2023-01-19    0.600566
2023-01-20   -0.170542
Freq: D, Name: B, dtype: float64

In [60]:
#row wise selection
df[0:3]

                   A         B         C         D
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801

In [61]:
df[0:]

                   A         B         C         D
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-10  0.043323 -2.462685  2.046029 -0.278108
2023-01-11  0.923373 -0.596983 -0.032450 -0.230864
2023-01-12  0.702083 -0.705203 -0.199527  1.193155
2023-01-13  0.190716 -0.029701 -0.474885 -0.639056
2023-01-14 -0.769573  0.609692 -0.828558 -0.921701
2023-01-15 -1.777406  0.735288  0.572365 -0.965627
2023-01-16  0.250739 -0.524081  2.424349  1.184694
2023-01-17  0.140084 -0.479425 -1.068868 -1.298676
2023-01-18  0.610089 -0.037072 -1.289696 -1.247698
2023-01-19  0.424443  0.600566 -0.413613  1.141653
2023-01-20 -1.240178 -0.170542  1.145650  0.637043

In [62]:
df[0:1]

                  A         B         C         D
2023-01-01 -1.71728  0.383333 -1.465816  0.752935

In [63]:
df[0:4]

                   A         B         C         D
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306

In [64]:
df[1:10]

                   A         B         C         D
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-10  0.043323 -2.462685  2.046029 -0.278108

In [66]:
#column wise selection
df.loc[dates[0]]

A   -1.717280
B    0.383333
C   -1.465816
D    0.752935
Name: 2023-01-01 00:00:00, dtype: float64

In [67]:
df.loc[dates[2]]

A    0.288758
B   -1.142665
C    1.031405
D    0.686801
Name: 2023-01-03 00:00:00, dtype: float64

In [70]:
df.loc[:, ["A","B"]]

                   A         B
2023-01-01 -1.717280  0.383333
2023-01-02  0.433258  0.121100
2023-01-03  0.288758 -1.142665
2023-01-04  0.014780  0.734382
2023-01-05  0.144574 -0.371441
2023-01-06  0.387915  1.996464
2023-01-07  0.673246  0.918510
2023-01-08  0.595742  0.459953
2023-01-09  0.761121  0.433012
2023-01-10  0.043323 -2.462685
2023-01-11  0.923373 -0.596983
2023-01-12  0.702083 -0.705203
2023-01-13  0.190716 -0.029701
2023-01-14 -0.769573  0.609692
2023-01-15 -1.777406  0.735288
2023-01-16  0.250739 -0.524081
2023-01-17  0.140084 -0.479425
2023-01-18  0.610089 -0.037072
2023-01-19  0.424443  0.600566
2023-01-20 -1.240178 -0.170542

In [72]:
df.loc[:,["C","D"]]

                   C         D
2023-01-01 -1.465816  0.752935
2023-01-02 -1.137476  0.894932
2023-01-03  1.031405  0.686801
2023-01-04  1.887436  0.115306
2023-01-05 -1.601547 -0.077505
2023-01-06  0.990433 -0.122450
2023-01-07  0.437041  0.148386
2023-01-08 -1.349574  0.349012
2023-01-09  0.546483  0.203048
2023-01-10  2.046029 -0.278108
2023-01-11 -0.032450 -0.230864
2023-01-12 -0.199527  1.193155
2023-01-13 -0.474885 -0.639056
2023-01-14 -0.828558 -0.921701
2023-01-15  0.572365 -0.965627
2023-01-16  2.424349  1.184694
2023-01-17 -1.068868 -1.298676
2023-01-18 -1.289696 -1.247698
2023-01-19 -0.413613  1.141653
2023-01-20  1.145650  0.637043

In [73]:
df.loc["20230102":"20230104",["A","B"]]

                   A         B
2023-01-02  0.433258  0.121100
2023-01-03  0.288758 -1.142665
2023-01-04  0.014780  0.734382

In [75]:
df.loc[["20230102","20230104"],["A","B"]]

                   A         B
2023-01-02  0.433258  0.121100
2023-01-04  0.014780  0.734382

In [76]:
df.loc["20230110",["A","B","C"]]

A    0.043323
B   -2.462685
C    2.046029
Name: 2023-01-10 00:00:00, dtype: float64

In [77]:
df.at[dates[0],"A"]

-1.7172801722202717

In [78]:
df.at[dates[10],"A"]

0.9233728106537297

In [79]:
#position value
df.iloc[3]

A    0.014780
B    0.734382
C    1.887436
D    0.115306
Name: 2023-01-04 00:00:00, dtype: float64

In [80]:
df.iloc[3:10]

                   A         B         C         D
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-10  0.043323 -2.462685  2.046029 -0.278108

In [83]:
df.iloc[0:5, 10:15]

Empty DataFrame
Columns: []
Index: [2023-01-01 00:00:00, 2023-01-02 00:00:00, 2023-01-03 00:00:00, 2023-01-04 00:00:00, 2023-01-05 00:00:00]

In [84]:
# in[] left side is always row in between comma and then on the right side its the column
df.iloc[0:5, 0:3]

                   A         B         C
2023-01-01 -1.717280  0.383333 -1.465816
2023-01-02  0.433258  0.121100 -1.137476
2023-01-03  0.288758 -1.142665  1.031405
2023-01-04  0.014780  0.734382  1.887436
2023-01-05  0.144574 -0.371441 -1.601547

In [85]:
# this will select automatically all columns
df.iloc[0:5, :]

                   A         B         C         D
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505

In [87]:
# this will select all rows
df.iloc[: , 0:2]

                   A         B
2023-01-01 -1.717280  0.383333
2023-01-02  0.433258  0.121100
2023-01-03  0.288758 -1.142665
2023-01-04  0.014780  0.734382
2023-01-05  0.144574 -0.371441
2023-01-06  0.387915  1.996464
2023-01-07  0.673246  0.918510
2023-01-08  0.595742  0.459953
2023-01-09  0.761121  0.433012
2023-01-10  0.043323 -2.462685
2023-01-11  0.923373 -0.596983
2023-01-12  0.702083 -0.705203
2023-01-13  0.190716 -0.029701
2023-01-14 -0.769573  0.609692
2023-01-15 -1.777406  0.735288
2023-01-16  0.250739 -0.524081
2023-01-17  0.140084 -0.479425
2023-01-18  0.610089 -0.037072
2023-01-19  0.424443  0.600566
2023-01-20 -1.240178 -0.170542

In [88]:
df[df["A"]>0]

                   A         B         C         D
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-03  0.288758 -1.142665  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574 -0.371441 -1.601547 -0.077505
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-10  0.043323 -2.462685  2.046029 -0.278108
2023-01-11  0.923373 -0.596983 -0.032450 -0.230864
2023-01-12  0.702083 -0.705203 -0.199527  1.193155
2023-01-13  0.190716 -0.029701 -0.474885 -0.639056
2023-01-16  0.250739 -0.524081  2.424349  1.184694
2023-01-17  0.140084 -0.479425 -1.068868 -1.298676
2023-01-18  0.610089 -0.037072 -1.289696 -1.247698
2023-01-19  0.424443  0.600566 -0.413613  1.141653

In [94]:
df[df["A"]> 0.5]

                   A         B         C         D
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-11  0.923373 -0.596983 -0.032450 -0.230864
2023-01-12  0.702083 -0.705203 -0.199527  1.193155
2023-01-18  0.610089 -0.037072 -1.289696 -1.247698

In [98]:
df[df["B"] > 0]

                   A         B         C         D
2023-01-01 -1.717280  0.383333 -1.465816  0.752935
2023-01-02  0.433258  0.121100 -1.137476  0.894932
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-06  0.387915  1.996464  0.990433 -0.122450
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953 -1.349574  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-14 -0.769573  0.609692 -0.828558 -0.921701
2023-01-15 -1.777406  0.735288  0.572365 -0.965627
2023-01-19  0.424443  0.600566 -0.413613  1.141653

In [99]:
df[df >0]

                   A         B         C         D
2023-01-01       NaN  0.383333       NaN  0.752935
2023-01-02  0.433258  0.121100       NaN  0.894932
2023-01-03  0.288758       NaN  1.031405  0.686801
2023-01-04  0.014780  0.734382  1.887436  0.115306
2023-01-05  0.144574       NaN       NaN       NaN
2023-01-06  0.387915  1.996464  0.990433       NaN
2023-01-07  0.673246  0.918510  0.437041  0.148386
2023-01-08  0.595742  0.459953       NaN  0.349012
2023-01-09  0.761121  0.433012  0.546483  0.203048
2023-01-10  0.043323       NaN  2.046029       NaN
2023-01-11  0.923373       NaN       NaN       NaN
2023-01-12  0.702083       NaN       NaN  1.193155
2023-01-13  0.190716       NaN       NaN       NaN
2023-01-14       NaN  0.609692       NaN       NaN
2023-01-15       NaN  0.735288  0.572365       NaN
2023-01-16  0.250739       NaN  2.424349  1.184694
2023-01-17  0.140084       NaN       NaN       NaN
2023-01-18  0.610089       NaN       NaN       NaN
2023-01-19  0.424443  0.600566       NaN  1.141653
2023-01-20       NaN       NaN  1.145650  0.637043

In [100]:
df2 = df.copy()

In [106]:
df2["E"]= ["one", "one", "two", "two","three","four","four",
"one", "one", "two", "two","three","four","four",
"one", "one", "two", "two","three","four"
]

In [108]:
df2["mean"]= [df2["B"] + 1]

ValueError: Length of values (1) does not match length of index (20)

In [109]:
df2["mean"]= [1.2,2.2,3.3,4.4,2.5,
1.2,2.2,3.3,4.4,2.5,
1.2,2.2,3.3,4.4,2.5,
1.2,2.2,3.3,4.4,2.5]

In [110]:
df2["new"]= [1.2,2.2,3.3,4.4,2.5,
1.2,2.2,3.3,4.4,2.5,
1.2,2.2,3.3,4.4,2.5,
1.2,2.2,3.3,4.4,2.5]

In [115]:
df2 = df2.iloc[:, 1:4]

In [116]:
df2

                   B         C         D
2023-01-01  0.383333 -1.465816  0.752935
2023-01-02  0.121100 -1.137476  0.894932
2023-01-03 -1.142665  1.031405  0.686801
2023-01-04  0.734382  1.887436  0.115306
2023-01-05 -0.371441 -1.601547 -0.077505
2023-01-06  1.996464  0.990433 -0.122450
2023-01-07  0.918510  0.437041  0.148386
2023-01-08  0.459953 -1.349574  0.349012
2023-01-09  0.433012  0.546483  0.203048
2023-01-10 -2.462685  2.046029 -0.278108
2023-01-11 -0.596983 -0.032450 -0.230864
2023-01-12 -0.705203 -0.199527  1.193155
2023-01-13 -0.029701 -0.474885 -0.639056
2023-01-14  0.609692 -0.828558 -0.921701
2023-01-15  0.735288  0.572365 -0.965627
2023-01-16 -0.524081  2.424349  1.184694
2023-01-17 -0.479425 -1.068868 -1.298676
2023-01-18 -0.037072 -1.289696 -1.247698
2023-01-19  0.600566 -0.413613  1.141653
2023-01-20 -0.170542  1.145650  0.637043